* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e1e1;
    font-family: 'Roboto', sans-serif;

}

.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-card {
    width: 100%;
    border: 2px solid rgb(131, 130, 130);
    background-color: rgb(235, 230, 230);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    overflow: hidden;
}

.card-header {
    height: 125px;
    margin-bottom: 70px;
    background-color: #181bc4;
}

.card-body {
    padding: 20px;
}

.card-body h1,
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.profile-m {
    background-color: #fff;
    border-radius: 50%;
    height: 180px;
    padding: 5px;
    margin: 30px 30px;
}

.images-s {
    height: 20px;
}

a {
    color: #2d6dc7;
    align-items: center;
}